[Unit]
Description=Pivot node to the nkd release image
Wants=network-online.target
After=network-online.target
ConditionPathExists=!/var/log/node-pivot.stamp

[Service]
ExecStart=/bin/bash -c "/etc/nkdfiles/node-pivot.sh && touch /var/log/node-pivot.stamp"

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

