[Unit]
Description=disable selinux for kubernetes
ConditionPathExists=!/var/log/disable-selinux.stamp
ConditionPathExists=/var/log/node-pivot.stamp

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -c "sed -i 's#SELINUX=enforcing#SELINUX=disabled#g' /etc/selinux/config"
ExecStart=setenforce 0
ExecStart=/bin/touch /var/log/disable-selinux.stamp

[Install]
WantedBy=multi-user.target
