[Unit]
Description=worker node join the cluster
Requires=set-kernel-para.service release-image-pivot.service
After=set-kernel-para.service release-image-pivot.service
ConditionPathExists=!/var/log/join-worker.stamp

[Service]
ExecStartPre=/bin/bash -c "while [ ! -f /var/log/node-pivot.stamp ]; do sleep 10; done"
ExecStart=/bin/bash -c "kubeadm join --config=/etc/nkd/join-config.yaml && touch /var/log/join-worker.stamp"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
