[Unit]
Description=worker node join the cluster
Requires=set-kernel-para.service disable-selinux.service release-image-pivot.service
After=set-kernel-para.service disable-selinux.service release-image-pivot.service
ConditionPathExists=/var/log/set-kernel-para.stamp
ConditionPathExists=/var/log/disable-selinux.stamp
ConditionPathExists=/var/log/node-pivot.stamp
ConditionPathExists=!/var/log/join-worker.stamp

[Service]
ExecStart=/bin/bash -c "kubeadm join --config=/etc/nkd/join-config.yaml && touch /var/log/join-worker.stamp"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target