[Unit]
Description=Pivot node to the nkd release image
Wants=network-online.target
After=network-online.target
ConditionPathExists=!/var/log/node-pivot.stamp

[Service]
ExecStart=sh /etc/nkd/node-pivot.sh
ExecStart=/bin/bash -c "/etc/nkd/node-pivot.sh && touch /var/log/node-pivot.stamp && systemctl reboot"

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

