apiVersion: kubeadm.k8s.io/{{.KubeadmApiVersion}}
caCertPath: /etc/kubernetes/pki/ca.crt
discovery:
  bootstrapToken:
    apiServerEndpoint: {{.APIServerURL}}
    token: {{.Token}}
    unsafeSkipCAVerification: true
  timeout: 5m0s
  tlsBootstrapToken: {{.Token}}
kind: JoinConfiguration
nodeRegistration:
  criSocket: {{.CriSocket}}
  taints: null
